body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 45s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
div {
  margin: auto;
  justify-content: center;
  align-items: center;
}
.search-field {
  position: relative;
  top: 50px;
}
.cities-list {
  width: 100%;
}
.forecast-container {
  position: absolute;
  height: fit-content;
  min-height: max-content;
  top: 150px;
  padding: 20px;
  background-color: #f8f9fa;
}
.today-container {
  min-height: 25%;
}
.switch-button {
  position: absolute;
  right: 50px;
}
.add-to-favorites {
  margin-left: auto;
  margin-right: 0%;
}
.favorites-container {
  position: absolute;
  top: 25%;
  left: 10%;
  height: fit-content;
  padding: 20px;
  background-color: #f8f9fa;
}
.favorites {
  justify-content: center;
  text-align: center;
}
